<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8'>
	<link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="/app.css">
</head>
<body ng-app='app' ng-controller='ApplicationCtrl'>
	<nav class="navbar navbar-default">
		<div class="container">
			<ul class="nav navbar-nav">
				<li><a class="posts" href="/#/">Posts</a></li>
			</ul>
			<ul ng-if="!currentUser" class="nav navbar-nav navbar-right">
				<li><a class="register" href="/#/register">Register</a></li>
				<li><a class="login" href="/#/login">Login</a></li>
			</ul>
			<ul ng-if="currentUser" class="nav navbar-nav navbar-right">
				<li><a class="logout" href="#" ng-click="logout()">Logout</a></li>
			</ul>
			<p ng-if='currentUser' class='navbar-text navbar-right'>
				Signed in as {{currentUser.username}}
				<!-- <button ng-click="logout()" class="btn btn-default btn-xs">logout</button> -->
			</p>

		</div>
	</nav>
	<div ng-view></div>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular-route.js"></script>
	<script src='/app.js'></script>
</body>
</html>