<div class="container">
	<form ng-submit="register(username,password)">
		<div class="form-group">
			<label>Username</label>
			<input type="text" class="form-control" ng-model="username">
		</div>
		<div class="form-group">
			<label>Password</label>
			<input type="password" class="form-control" ng-model="password">
		</div>
		<input class="btn btn-success btn-lg btn-block" type="submit" value="Sign up">
	</form>
</div>